/* Default style for desktop */
body {
  font-size: 16px;
}

/* Mobile style */
@media only screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }
  .container {
    width: 100%;
    padding: 10px;
  }
}

    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
.main{
	height:70%;
	width:100%;
	background-image:url("images/mlk.png");
	background-size:cover;
	color:white;
}
h1{
	padding-top:200px;
	margin:4
	color:white;
}
.navbar {
	position:fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  padding: 0px 0;
  z-index: 1000;
  text-align: center;
}
.navbar a {
	padding:14px 20px;
  color: white;
  text-decoration: none;
  display:inline-block;
}
a{
	margin:45px;
	margin-top:0;
}
a:hover{
	background-color:gray;
}
.url{
	background:#fafafa;
	height:800px;
}
h2{
	font-size:130px;
	margin:5%;
	color:lightgray;
}
h3{
	color:red;
margin-top:100px;
}
.url p{
	padding-bottom:200px;
}
.cover{
	display:flex;
	margin-left:80px;
margin-right:0;
}
.cover p{
	width:400px;
	margin-top:20px;
	color:gray;
}
.cover1{
	margin-left:200px;
}
.box4{
	display:flex;
}
.box4 img{
	border-radius:50px;
}
form{
	padding:100px;
	padding-left:400px;
}
.m{
	padding-top:20px;
	display:flex;
	margin-left:200px;
}
h6{
	margin:10px;
	padding-left:60px;
}
input{
	padding:2px;
}
.m img{
border-radius:50px;	
}
.f{
	display:flex;
	padding-left:90px;
}
.f h6{
	padding-left:160px;
}
.blog{
	color:white;
	float:left;
	font-size:35px;
	font-family:arial;
	padding-left:100px;
	padding-top:20px;
}
.flip{
		display: flex;
  justify-content: center; 
  align-items: center;      
  gap: 40px;              
  height: 80vh; 
  background:#fafafa;
	}
	.flip-card{
      background-color: transparent;
      width: 250px;
      height: 400px;
      perspective: 1000px; /* Adds 3D perspective */
    }
	.card-image {
		 width:250.5px;
      height: 200px;
  object-fit: cover;
  border-radius:10px;
}
    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 0.6s;
      transform-style: preserve-3d;
    }

    .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
    }

    .flip-card-front,
    .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border: 1px solid #ccc;
      border-radius: 10px;
    }

    .flip-card-front {
      background-color: #fff;
      color: black;
    }

    .flip-card-back {
      background-color: #2980b9;
      color: white;
      transform: rotateY(180deg);
    }
	.card-content{
		padding:20px;
	}
}
.con h2{
	display:flex;
	color:white;
	font-size:30px;
}
table{
	padding-top:80px;
	padding-left:80px;
}
td{
	padding-left:400px;
	padding-top:10px;
	padding-bottom:10px;
	color:white;
gap: 40px;  
}
.con{
height:40%;
	width:100%;
	background-image:url("images/mlk.png");
	background-size:cover;
}
.container1{
	background:black;
}
h5{
	color:white;

}

